a {
  color: red;
}
ul li {
  margin: 6px 0 6px 0;
}
p {
/*espaço à volta*/
  border: blue 1px solid ;
  padding: 20px 0 20px 0;
  background-color: red;
  margin: 4px 0 4px 0;
}
h1{
  margin: 10px 0 15px 0;
  }
h2 {
  margin: 10px 0 20px 0;
  }
h3 {
  margin: 15px  15px 0;
  border-bottom: 1px solid #CCCCCC;
  padding-bottom: 3px;
}
.nav{
  padding-left: 0px;
}
.nav a{
  color: #0000af;
  text-decoration: none;
}
.nav li{
  display: inline;
}
.recipes {
  list-style-type: none;
  padding: 0;
}
.recipes li {
  border: 1px solid #b56663;
  padding-left: 15px;
}
.recipes h3 {
  border-bottom: 0;
}
.recipes a {
  color: #7facaa;
  text-decoration: none;
}